    <div id="total_items" data-show="<%= @response.total %>"> </div>
    <ul class="folderTools">
        <li class="registry">
          <%= link_to t('blacklight.tools.save_workset'), registry_index_path()%>
        </li>
        <li>
          <%= link_to "Clear all", clear_folder_path, :id=>'remove-all-link' %>
        </li>
        <li>
          <div id="loading" style="display: none">
            <img src="<%= asset_url('blacklight/indicator.gif') %>"></p>
          </div>
        </li>
    </ul>

