    <ul class="folderTools">
        <li class="registry">
          <%= link_to t('blacklight.tools.registry'), registry_index_path()%>
        </li>
        <li>
          <%= link_to t('blacklight.tools.clear'), clear_folder_path, :method => :delete %>
        </li>
    </ul>

