<div class="selectall" style="width: 98.7%; text-align: right;">
   <%= check_box_tag(:selectall, 1) %>
   <%= label_tag(:selectall, "Select All") %>
   <%= hidden_field_tag "select_all_total", @response.total %>
   <div id="loading" style="display: none">
       <p><img src="<%= asset_url('blacklight/indicator.gif') %>"></p>
   </div>
</div>
