<div id="htrcFooter">
  <div id="htrcFooterCont">
    <div class="htrcFooterNav">
      <ul>
        <li><a href="http://www.hathitrust.org/htrc" title="About Hathi Trust Research Center">About</a></li>
        <li><a href="http://wiki.htrc.illinois.edu/dashboard.action" title="Help/faq">Help/FAQ</a></li>
        <li><a href="mailto:htrc-usergroup-l@list.indiana.edu?Subject=Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>